<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Twitter</h1>
    <% for(tweet of tweets){%>
        <div class="tweet">
            <h2 class="user">@<%=tweet.username%> </h2>
            <h3 class="content"><%=tweet.content%></h3>
            <button><a href="http://localhost:8080/tweets/<%=tweet.id%>/edit">Edit</a></button>
            
            <form method="post" action="/tweets/<%=tweet.id%>?_method=DELETE">
                <button>Delete Tweet</button>
            </form>
        </div>
    <%}%>

    <br><br>
    <a href="http://localhost:8080/tweets/new">New Tweet</a>
</body>
</html>