<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Tweet</title>
</head>
<body>
    <h1>Create you New Tweet</h1>
    <form method ="post" action ="/tweet">
        <input  placeholder="Enter username" name="username">
        <br>
        <textarea placeholder="write your tweet" name="content"></textarea>
        <br>
        <button>Submit</button>
    </form>
</body>
</html>