<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
</head>
<body>
    <h2>Welcome to our Community!</h2>
    <form method="POST" action="/newuser">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" placeholder="Enter Username">
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" placeholder="Enter Email">
        <label for="password">Password:</label>
        <input type="tpassword" name="password" id="password"  placeholder="Enter Password">
        <button>Submit</button>
    </form>
</body>
</html>