<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>This is the home page</h1>
    <h3> <%= 1+3 %></h3>
    <p>Lorem ipsum dolor sit amet consectetur 
        adipisicing elit. Facere est cum incidunt omnis dolor quibusdam? Eaque impedit qui, enim quisquam sint, 
        magnam obcaecati repellat nam aliquid dolore, autem non molestias!</p>
    
    <button>click me!</button>
</body>
</html>