<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create post</title>
</head>
<body>
    <!-- Form for creating a new post -->
    <form method="post" action="/post">
        <!-- Input field for entering the username -->
        <input placeholder="Enter username" name="username"><br/><br/>
        <!-- Textarea for writing the post content -->
        <textarea placeholder="Write your post" name="content"></textarea><br/><br/>
        <!-- Button to submit the post -->
        <button>Submit Post</button>
    </form>

    <!-- Extra line breaks for spacing -->
    <br><br>
</body>

</html>